fastapi==0.110.0
uvicorn==0.29.0
sentence-transformers==2.6.1
spacy==3.7.4
scikit-learn==1.4.2
numpy==1.26.4
torch==2.2.2
transformers==4.38.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl